p {
	color: #000080;
}

p.info {
	font-size: small;
	background-color: #dfdfdf
}

h1 {
	color: white;
	text-shadow: 2px 2px 4px navy;
}

h2 {
	margin: 5px;
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(to right, white, #ffefaf);
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;
	row-gap: 10px;
	width: 1024px;
}

div#zentai > div {
	padding: 5px;
	height: 200px;
	background-color: #ffefaf;
}

img {
	float: right;
}
